@charset "UTF-8";
/* CSS Document */

body {background-color: #EEEEEE; font-family: 'Open Sans', sans-serif;}

.nav-header {
    height: 140px;
    width: 32rem;
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
	background-color: #ffffff;
    border-bottom: .1rem solid rgba(120,130,140,.13);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.08);
}

[data-sidebar-style=full][data-layout=vertical] .nk-sidebar {
    padding-top: 0px;
    top:140px;
}
[data-nav-headerbg=color_1] .nav-header {
    background-color: #ffffff;
}
.nav-label {
    padding: 2rem 2.7rem;
    font-weight: 600;
    text-transform:none;
    font-size: 24px;
    letter-spacing: .05rem;
	 font-family: 'DM Serif Text', serif;
    color: #CF0003;
}
.breadcrumb-item.active, .page-titles .breadcrumb li.active a {
    color: #CF0003;
}
.nk-sidebar .metismenu>li a>.nav-text {
    padding-left: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
}
.nk-sidebar .metismenu>li.active>a, .nk-sidebar .metismenu>li:hover>a {
    background: #ffe8e8;
    color: #CF0003;
}
.nk-sidebar .metismenu>li.active>a, .sidebar-right .nav-tabs .nav-item .nav-link.active, [direction=rtl] .nk-sidebar .metismenu>li.active>a {
    border-color: #CF0003;
}
.nk-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #F4F4F4;
}
.nk-sidebar .metismenu a.active, .nk-sidebar .metismenu a:active, .nk-sidebar .metismenu a:hover {
    text-decoration: none;
    background-color: #FFEEEE;
}
.nk-sidebar .metismenu a {
   font-family: 'Open Sans', sans-serif;
}
.page-titles {
margin-bottom: 10px;
    margin-top: -15px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 15px 30px;
   background: #ffe8e8;
}
.page-titles h4 {
    color: #CF0003;
	 font-family: 'DM Serif Text', serif;
    font-size: 24px;
}
.card-title {
	 font-family: 'DM Serif Text', serif;
    line-height: 2.2rem;
    color: #464a53;
	font-size:30px;
    text-transform: capitalize;
}
.form-group label, .table-cap tbody tr td {
   font-family: 'Open Sans', sans-serif;
	font-size:16px;
}
.reg {color:#CF0003; font-size: 18px; }
.card-body h4 {  font-family: 'Open Sans', sans-serif; font-size: 16px; }
.form-control {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    height: 4.5rem;
    border: 1px solid #dddfe1;
    font-weight: 500;
}
.btn-primary {
    background: #CF0003;
    border-color: #CF0003;
	 font-family: 'DM Serif Text', serif;
    color: #fff;
}
.stat-widget-progress h5 span, .stat-widget-progress span, .table-striped tr td {
    color: #000000!important; 
}
